@font-face {
    font-family:vazir-regular;
    src: url(../fonts/Vazir-Regular.eot) format(eot),
    url(../fonts/Vazir-Regular.woff) format(woff),
    url(../fonts/Vazir-Regular.woff2) format(woff2);
    font-weight: normal;
    font-style: normal;
}
*{
    font-family: vazir-regular;
}
.paragraph{
    font-size: 30px;
    background-color: blue;
    color: yellow;
}
@media screen and (min-width :500px) and (max-width:800px){
    .paragraph{
        color: red;
    }
}
.hide{
    width: 100%;
}
@media screen and (max-width :550px) {
    .hide{
        display: none;
    }
}