*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* body{
    background-color: #3860b1;
background-image: url(../img/css-grid-like-background.jpg)
} */
header{
    /* width: 100%; */
    background-image: url(/img/h-bg.jpg);
    height: 264px;
    background-size: cover;
    background-attachment: local;
}
.h1{
    background-color: #591ce6;
    padding-left: 600px;
    /* padding-right: 600px; */
    border: #591ce6;
    background-clip: content-box;
}
.container {
  position: relative;
  text-align: center;
  color: white;
}
.h1 {
  position: absolute;
  top: 14%;
  left:1%;
  /* transform: translate(-50%, -50%); */
}