    @font-face {
        font-family:Sahel;
        src: url(../fonts/Sahel.eot) format(eot),
        url(../fonts/Sahel.woff)format(woff),
        url(../fonts/Sahel.woff2) format(woff2);
        font-style: normal;
        font-weight: normal;
    }
.a{
    font-family: Sahel
  

}
.manufacturing-consent-regular {
  font-family: "Manufacturing Consent", system-ui;
  font-weight: 400;
  font-style: normal;
}
*{
      font-family: "Manufacturing Consent", system-ui;
}