:root{
    --primary-coolor--: green;
    --secondary-color--: blue;
}
filter properties
.test img:hover{
    filter: blur(3px);
}
 section{
       border: 5px solid;
 }
.test{  
    margin:10px ;
    filter: brightness(10);
    filter: contrast(10);
    filter: drop-shadow(4px 4px 4px );
    filter: grayscale(.5);
    filter: hue-rotate(100deg);
    filter: invert();
    filter:opacity(.5);
    filter:saturate(10);
   filter:sepia(.5);
} 
  a{
    color: var(--primary-coolor--);
  }
  p{
    color: var(--secondary-color--);
  }