 p.test1{
        color:chartreuse ;
    }
    p.test2{
        color: blueviolet; font-size: 30px;
    }
.az{
    background-color: chocolate;
}
.A{
    background-color: crimson; font-size: larger;
    color: darkgray;
}
.B{
    
}