/* .test{
    border: 3px solid;
    width: 300px;
white-space: nowrap;
overflow:hidden;
text-overflow: ellipsis;

} */
 /* .test1{
writing-mode: horizontal-tb;
 }
 .test2{
writing-mode: sideways-rl;
 }
 .test3{
writing-mode: vertical-lr;
writing-mode: sideways-lr;
 } */
  .all{
   border: 3px solid black;
 }
.a{
    vertical-align: super;
 }